.skin-black .main-header .navbar {
    background-color: #101111;
}

.skin-black .main-header>.logo {
    color: #dcdddd;
    border-bottom: 0 solid transparent;
    border-right: 1px solid #080808;
    background-color: #101111;
}

/* .skin-black .main-header .navbar .sidebar-toggle {
    color: #dcdddd;
}

.skin-black .main-header .navbar>.sidebar-toggle {
    border-right: 1px solid #080808;
} */

.skin-black .main-header .navbar>.sidebar-toggle {
    color: #dcdddd;
    border-right: 1px solid #080808 !important;
}

.sidebar-toggle:hover {
  background-color: #25be76 !important;  /* new hover background color */
  color: #101111 !important;               /* new hover icon/text color */
}

.logo:hover {
  background-color: #25be76 !important;
  color: #101111 !important;               /* new hover icon/text color */
}

.content-wrapper {
    background-color: #101111;
}

.content-wrapper, .right-side {
    background-color: #101111 !important;
}

section#sidebarItemExpanded {
    background-color: #101111;
}

a[href="#shiny-tab-currency_main"]:hover {
  background-color: #25be76 !important;
  color: #101111 !important;
}

a[href="#shiny-tab-stocks_main"]:hover {
  background-color: #25be76 !important;
  color: #101111 !important;
}

.skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper {
    background-color: #101111;
}

.skin-black .sidebar-menu>li.active>a, .skin-black .sidebar-menu>li:hover>a {
    color: #fff;
    background: #181919;
    border-left-color: #25be76;
}


a[href^="#shiny-tab-"][data-toggle="tab"] {
  color: #dcdddd;
  background-color: #181919;
}

div[class="box-header"] {
  background-color:#25be76 !important;
  color: #101111 !important;
  border: 1px solid #3bc584 !important; 
  border-radius: 2px;
}


.box {
    background-color: #202222;
    border: 1px solid #101111 !important;
}

pre {
    display: block;
    padding: 3px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #dcdddd;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #202222;
    border: 0px solid #ccc;
    border-radius: 4px;
}

.selectize-input.full {
    background-color: #25be76;
    border: 0px;
}

.selectize-dropdown, .selectize-dropdown.form-control {
    background-color: #25be76;
    border: 0px;
}

.selectize-input, .selectize-control.single .selectize-input.input-active {
    background: #25be76;
    border: 0px;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    color: #101111;
}

div.option.selected {
  background-color: #101111 !important; 
  color: #dcdddd !important;
}

div.option.active {
    background-color: #101111 !important; /* example: blue background */
    color: #dcdddd !important;
}

.selectize-dropdown-content {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #101111 transparent;
}

.selectize-dropdown-content::-webkit-scrollbar {
  width: 8px;
}

.selectize-dropdown-content::-webkit-scrollbar-track {
  background: transparent;
}

.selectize-dropdown-content::-webkit-scrollbar-thumb {
  background-color: #101111;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.selectize-dropdown-content::-webkit-scrollbar-thumb:hover {
  background-color: #101111;
}

input.form-control {
    background-color: #25be76;
    color: #101111;
    border: 0px;
}

span.input-group-addon {
    background-color: #25be76 !important;
    color: #101111 !important;
    border: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

#sidebarItemExpanded > div:nth-child(3) > div:nth-child(2) > div > div > div.selectize-input.items.not-full.has-options.has-items > div {
    background-color: #080808 !important;
    color:#dcdddd !important;
}

#sidebarItemExpanded > div:nth-child(6) > div:nth-child(1) > div > div > div.selectize-input.items.not-full.has-options.has-items > div {
    background-color: #080808 !important;
    color:#dcdddd !important;
}


li.treeview .active {
    border-left: 5px solid #25be76 !important;
}

.sidebar-menu .treeview-menu {
    padding-left: 0px;
}

section.content {
    min-height: 1;
}

body > div.wrapper > div > section > div:nth-child(3) {
    background-color: #101111 !important;
    border-top: 0px !important;
    padding: 0px !important;
}
